<h1>Juego Propio</h1>
<label>Puntos:</label>
<label>{{puntaje}}</label>
<div  id="empezar">
  <button (click)="empezar()">Empezar</button>
</div>
<div id="ahorcado">
  <!-- <img  src="../../../assets/flechas/arriba.png"> -->
  <img id="img" [src]="getImage()" alt="" *ngIf="empezado"> 
</div>
<div class="container">
  <div class="align-items-center">
    <a class="btn btn-info btn-lg" (click)="onArriba()">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
    
    <div class="row">
      <a class="btn btn-info btn-lg" (click)="onIzquierda()">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </a>
      <a class="btn btn-info btn-lg" (click)="onDerecha()">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </a>
    </div>
    
  <a class="btn btn-info btn-lg" (click)="onAbajo()">
    <span class="glyphicon glyphicon-arrow-down"></span>
  </a>
  </div>
</div>

