#horca{
    height: 600px;
    width: 300px;
    display:block;
    margin:auto;
    /*background-image: url('../../../assets/ahorcado/ahorcado.jpg');*/
}

#mensaje{
    text-align: center;
}

#titulo{
    text-align: center;
}

#empezar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#palabraEnGuiones{
    text-align: center;
    font-size: 500%;
}